* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.home {
  background-image: url(../images/work-731198_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
}
.home div {
  height: 800px;
  background-color: rgba(255, 255, 255, 0.434);
}
.home div .arrow {
  border: 2px solid white;
  border-radius: 50%;
  font-size: 3em;
  color: white;
  position: relative;
  top: 60%;
  left: 50%;
}
.home div .arrow:hover {
  background-color: white;
  color: gray;
}
.home div h1 {
  color: rgb(240, 240, 240);
  font-size: 4em;
  font-family: "Roboto", sans-serif;
  position: relative;
  margin-left: 40%;
  top: 20%;
}
.home .contact {
  padding: 20px;
}
.home .contact-btn {
  font-size: 1.5em;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: 20%;
  width: 200px;
  color: rgb(79, 79, 79);
  border: 2px solid #c49a9b;
  padding: 12px;
  border-radius: 20px;
}
.home .contact-btn:hover {
  background-color: #96a4c2;
  color: rgb(79, 79, 79);
}
.home .contact .modalfade, .home .contact .modal-content, .home .contact .modal-dialog {
  max-height: 350px;
}
.home .contact .modal-header {
  background-color: #3f3f3f;
  height: 100px;
  color: silver;
  font-size: 1.3em;
}
.home .contact .modal-body {
  background-color: #4d4d4d;
}
.home .contact .modal-body li {
  color: silver;
  font-size: 1.5em;
  padding: 10px;
}
.home .contact .modal-body li a {
  color: silver;
}
.home .contact .modal-body li a:hover {
  color: white;
}
@media (max-width: 676px) {
  .home h1 {
    color: red;
  }
}

main {
  background-image: radial-gradient(circle at 23.05% 11.51%, #7fada7 0, #7dadab 3.33%, #7cacaf 6.67%, #7cacb3 10%, #7dacb6 13.33%, #7eabb9 16.67%, #81aabc 20%, #84a9be 23.33%, #88a8c0 26.67%, #8ca7c1 30%, #91a6c2 33.33%, #96a4c2 36.67%, #9ba3c1 40%, #a1a2c0 43.33%, #a6a0be 46.67%, #ab9fbc 50%, #b09eb9 53.33%, #b49db6 56.67%, #b89cb3 60%, #bb9baf 63.33%, #be9aab 66.67%, #c09aa7 70%, #c29aa3 73.33%, #c39a9f 76.67%, #c49a9b 80%, #c39a97 83.33%, #c39b93 86.67%, #c19c90 90%, #bf9d8d 93.33%, #bd9e8b 96.67%, #ba9f89 100%);
}
main .about h2 {
  padding-top: 60px;
  padding-left: 60px;
  font-size: 3.5em;
  color: silver;
}
main .about span {
  padding-left: 130px;
  font-size: 2.1em;
  color: silver;
}
main .about .content {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
main .about .content p {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.3607843137);
  padding: 30px;
  border-radius: 10px;
  font-size: 1.2em;
}
main .about .content img {
  width: 50%;
}
main .projects {
  padding: 40px;
}
main .projects .link-git {
  display: block;
  text-align: center;
  padding: 30px;
  color: rgb(90, 90, 90);
}
main .projects .link-git:hover {
  color: silver;
}
main .projects h2 {
  padding: 30px;
  color: silver;
  font-size: 2.5em;
  text-align: center;
}
main .projects ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .projects ul li {
  padding: 30px;
  margin-bottom: 20px;
  width: 30%;
  list-style: none;
  border: 2px solid silver;
}
main .projects ul li h3 {
  text-align: center;
  color: #4d4d4d;
}
main .projects ul li p {
  color: #4d4d4d;
}
main .projects ul li a {
  color: #4d4d4d;
  display: block;
  text-align: center;
  font-size: 0.9em;
}
main .projects ul li:hover {
  background-color: rgba(255, 255, 255, 0.434);
}
main .skils {
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
main .skils-details h2 {
  padding: 30px;
  color: silver;
  font-size: 3.5em;
  text-align: center;
  width: 60%;
}
main .skils-details p {
  font-size: 1.5em;
  color: #4d4d4d;
  width: 70%;
  padding: 10px;
}
main .skils ul {
  max-width: 40%;
  padding: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
main .skils ul li {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  list-style: none;
  padding: 30px;
}
main .skils ul li img {
  width: 60px;
}
main .skils ul li:hover {
  background-color: transparent;
  border: 2px solid white;
}
main footer {
  background-color: #3f3f3f;
  color: silver;
  padding: 40px;
  font-size: 1.2em;
  text-align: center;
}

[data-anime] {
  opacity: 0;
  transition: 0.6s;
}

[data-anime=rigth] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

@media (max-width: 575px) {
  footer {
    background-color: red;
  }
}/*# sourceMappingURL=styles.css.map */